@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers&display=swap');

:root {
  font-family: Lato, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::placeholder {
  color: #fff;
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: linear-gradient(110deg, #093535 0%, #14697c 100%);
  color: #fff;
  width: 100vw;
  overflow-x: hidden;
}
